# ====================================================================
# Executabile și Fișiere de compilare (MSYS2 / MinGW64)
# ====================================================================
# Ignoră executabilul generat pe Windows
*.exe

# Ignoră fișierele obiect și librăriile statice/dinamice
*.o
*.obj
*.a
*.lib
*.dll

# Dacă scriptul tău din tasks.json scoate executabilul într-un folder separat
[Bb]in/
[Oo]bj/

# ====================================================================
# Visual Studio Code (Configurații de proiect)
# ====================================================================
.vscode/
build/
CMakeLists.txt

# ====================================================================
# Sistemul de operare și altele
# ====================================================================
.DS_Store
Thumbs.db

# ====================================================================
# Resurse Joc (Asigură-te că NU le ignori)
# ====================================================================
!/assets/
!/src/
!/song/
.fake